openapi: 3.0.1
info:
  title: Enterprise Gen2-Pricing Private API
  description: 'PROD environment for Enterprise GEN2 Pricing API service that exposes pricing domain data includes corporate, dealer, and in-store price. It also includes pricing related data such as Store, Zone and Store-List information.<br>All reserved characters according to RFC3986 are to be URL-encoded. See RFC3986 for more details<br>Json response format corresponds to RFC8259. See RFC8259 for more details</br>Cost Centre:  9100011</br>Project PV Code: 14728</br>Operational Support documentation <a href="https://confluence.corp.ad.ctc/display/EPAS/Enterprise+Pricing+API+Squad" target="_blank">link</a></br>Owners: Tak.Lam@cantire.com. Maintainers: ctc-it-api-operations@cantire.com'
  version: ''
servers:
  - url: https://azure-apim-prod-b-cc.corp.ad.ctc/private/ent/gen2-pricing
  - url: https://apim-prod.corp.ad.ctc/private/ent/gen2-pricing
  - url: https://apim-prod-b-cc.corp.ad.ctc/private/ent/gen2-pricing
  - url: https://ctr-apim-prod-cc-agw.canadiantire.ca/private/ent/gen2-pricing
  - url: https://fgl-apim-prod-cc-agw.canadiantire.ca/private/ent/gen2-pricing
  - url: https://mks-apim-prod-cc-agw.canadiantire.ca/private/ent/gen2-pricing
  - url: https://apim-prod-cc-agw.cantire.com/private/ent/gen2-pricing
  - url: https://apim.corp.ad.ctc/private/ent/gen2-pricing
  - url: https://apim-b.corp.ad.ctc/private/ent/gen2-pricing
paths:
  '/v3/dealer/promotion/banners/{banner}/batch':
    post:
      tags:
        - Dealer Pricing
      summary: Create task to generate file with promotional dealer prices in stores.
      description: 'Creates task to generate file with promotional dealer prices for Canadian Tire, Party City, and Online stores with the CTR banner.'
      operationId: schedulePromoDealerPricesFileGenerationUsingPOST
      parameters:
        - name: banner
          in: path
          description: Code representing a Canadian Tire brand.
          required: true
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: dealNumber
          in: query
          description: 'Unique identifier of the deal associated with the promotional price, if that price exists.'
          schema:
            maximum: 10.0
            minimum: 0.0
            maxLength: 10
            minLength: 0
            type: string
        - name: dealYear
          in: query
          description: 'Format - int32. Year that the deal associated with the promotional price is active, if that price exists.'
          schema:
            maximum: 9999.0
            minimum: 1990.0
            type: integer
            format: int32
        - name: dealsEffectiveRangeFrom
          in: query
          description: Format - date (as full-date in RFC3339). Start date (as full-date in RFC3339) for the deals in the file.
          schema:
            type: string
            format: date
        - name: dealsEffectiveRangeTo
          in: query
          description: Format - date (as full-date in RFC3339). Inclusive end date (as full-date in RFC3339) for the deals in the file.
          schema:
            type: string
            format: date
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileGenerationTaskCreationResponse'
              examples:
                success:
                  summary: File generation was started
                  description: File generation process was successfully started
                  value:
                    taskId: 63d103cba7118f6ace8404ef
                    resultNotificationTopic: prepared-topic-sbt-name
                failure:
                  summary: File generation disabled
                  description: File generation was intentionally disabled for this API and should be enabled with a service configuration parameter.
                  value:
                    message: 'Task generation is temporary disabled. To enable it, please contact Pricing API team'
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Invalid Date Range:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-03
                        description: Invalid date range.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/corporate/promotion/banners/{banner}/batch':
    post:
      tags:
        - Corporate Pricing
      summary: Create task to generate file with promotional retail prices in stores.
      description: 'Creates task to generate file with promotional retail prices for Canadian Tire, Party City, and Online stores with the CTR banner.'
      operationId: schedulePromoRetailPricesFileGenerationUsingPOST
      parameters:
        - name: banner
          in: path
          description: Code representing a Canadian Tire brand.
          required: true
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: dealNumber
          in: query
          description: 'Unique identifier of the deal associated with the promotional price, if that price exists.'
          schema:
            maximum: 10.0
            minimum: 0.0
            maxLength: 10
            minLength: 0
            type: string
        - name: dealYear
          in: query
          description: 'Format - int32. Year that the deal associated with the promotional price is active, if that price exists.'
          schema:
            maximum: 9999.0
            minimum: 1990.0
            type: integer
            format: int32
        - name: dealsEffectiveRangeFrom
          in: query
          description: Format - date (as full-date in RFC3339). Start date (as full-date in RFC3339) for the deals in the file.
          schema:
            type: string
            format: date
        - name: dealsEffectiveRangeTo
          in: query
          description: Format - date (as full-date in RFC3339). Inclusive end date (as full-date in RFC3339) for the deals in the file.
          schema:
            type: string
            format: date
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileGenerationTaskCreationResponse'
              examples:
                success:
                  summary: File generation was started
                  description: File generation process was successfully started
                  value:
                    taskId: 63d103cba7118f6ace8404ef
                    resultNotificationTopic: prepared-topic-sbt-name
                failure:
                  summary: File generation disabled
                  description: File generation was intentionally disabled for this API and should be enabled with a service configuration parameter.
                  value:
                    message: 'Task generation is temporary disabled. To enable it, please contact Pricing API team'
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Invalid Date Range:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-03
                        description: Invalid date range.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/dealer/regular/banners/{banner}/batch':
    post:
      tags:
        - Dealer Pricing
      summary: Create task to generate file with regular dealer prices in stores.
      description: 'Creates task to generate file with regular dealer prices for Canadian Tire, Party City, and Online stores with the CTR banner.'
      operationId: scheduleRegularDealerPricesByStoresFileGenerationUsingPOST
      parameters:
        - name: banner
          in: path
          description: Code representing a Canadian Tire brand.
          required: true
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: pricesEffectiveRangeFrom
          in: query
          description: Format - date (as full-date in RFC3339). Start date (as full-date in RFC3339) for the prices in the file.
          schema:
            type: string
            format: date
        - name: pricesEffectiveRangeTo
          in: query
          description: Format - date (as full-date in RFC3339). Inclusive end date (as full-date in RFC3339) for the prices in the file.
          schema:
            type: string
            format: date
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileGenerationTaskCreationResponse'
              examples:
                success:
                  summary: File generation was started
                  description: File generation process was successfully started
                  value:
                    taskId: 63d103cba7118f6ace8404ef
                    resultNotificationTopic: prepared-topic-sbt-name
                failure:
                  summary: File generation disabled
                  description: File generation was intentionally disabled for this API and should be enabled with a service configuration parameter.
                  value:
                    message: 'Task generation is temporary disabled. To enable it, please contact Pricing API team'
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Invalid Date Range:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-03
                        description: Invalid date range.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/corporate/regular/banners/{banner}/batch':
    post:
      tags:
        - Corporate Pricing
      summary: Create task to generate file with regular retail prices in stores.
      description: 'Creates task to generate file with regular retail prices for Canadian Tire, Party City, and Online stores with the CTR banner'
      operationId: scheduleRegularRetailPricesByStoresFileGenerationUsingPOST
      parameters:
        - name: banner
          in: path
          description: Code representing a Canadian Tire brand.
          required: true
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: pricesEffectiveRangeFrom
          in: query
          description: Format - date (as full-date in RFC3339). Start date (as full-date in RFC3339) for the prices in the file.
          schema:
            type: string
            format: date
        - name: pricesEffectiveRangeTo
          in: query
          description: Format - date (as full-date in RFC3339). Inclusive end date (as full-date in RFC3339) for the prices in the file.
          schema:
            type: string
            format: date
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileGenerationTaskCreationResponse'
              examples:
                success:
                  summary: File generation was started
                  description: File generation process was successfully started
                  value:
                    taskId: 63d103cba7118f6ace8404ef
                    resultNotificationTopic: prepared-topic-sbt-name
                failure:
                  summary: File generation disabled
                  description: File generation was intentionally disabled for this API and should be enabled with a service configuration parameter.
                  value:
                    message: 'Task generation is temporary disabled. To enable it, please contact Pricing API team'
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Invalid Date Range:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-03
                        description: Invalid date range.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/zone/banners/{banner}/batch':
    post:
      tags:
        - Zones
      summary: Create task to generate file of zones and stores.
      description: 'Creates task to generate file of zones and stores for Canadian Tire, Party City, and Online stores with the CTR banner.'
      operationId: scheduleZonesFileGenerationUsingPOST
      parameters:
        - name: banner
          in: path
          description: Code representing a Canadian Tire brand.
          required: true
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileGenerationTaskCreationResponse'
              examples:
                success:
                  summary: File generation was started
                  description: File generation process was successfully started
                  value:
                    taskId: 63d103cba7118f6ace8404ef
                    resultNotificationTopic: prepared-topic-sbt-name
                failure:
                  summary: File generation disabled
                  description: File generation was intentionally disabled for this API and should be enabled with a service configuration parameter.
                  value:
                    message: 'Task generation is temporary disabled. To enable it, please contact Pricing API team'
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/dealer/promotion/banners/{banner}':
    get:
      tags:
        - Dealer Pricing
      summary: Get promotional dealer prices in stores.
      description: 'Returns current and future promotional dealer prices by product numbers, store number, or event ID for Canadian Tire, Party City, and Online stores with the CTR banner.'
      operationId: getProductPromoPricesDealerUsingGET
      parameters:
        - name: banner
          in: path
          description: Code representing a Canadian Tire brand.
          required: true
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: productNumbers
          in: query
          description: '[Required parameter] Comma-delimited list of product identifiers (maximum 100) that are unique within a banner.'
          schema:
            type: array
            items:
              type: string
        - name: eventId
          in: query
          description: 'Format - uuid. Unique identifier of a ''promoDealer'' change event. If not specified, then the ''productNumbers'' parameter is required.'
          schema:
            type: string
            format: uuid
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductPromoPricesDealerPricesView'
              example:
                - deals:
                    - dealStartDate: '2021-12-23T00:00:00.0000000+00:00'
                      dealEndDate: '2021-12-23T00:00:00.0000000+00:00'
                      dealKindCode: AP
                      dealNumber: string
                      dealYear: string
                      prices:
                        - basePromoPrice: 0
                          baseRegularPrice: 0
                          coreCharge: 0
                          priceEffectiveDate: '2021-12-23T00:00:00.0000000+00:00'
                          storeListCode: string
                          siteLocations:
                            - locationType: ST
                              businessId: string
                              originalLocationId: string
                              component: false
                              disclosure: false
                          totalPromoPrice: 0
                          totalRegularPrice: 0
                          zone: string
                  productNumber: string
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Required query parameters are either invalid and/or missing:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-05
                        description: 'Required query parameters are either invalid and/or missing, for example: product number, event ID.'
                The query exceeds the limitation of number of store numbers or product numbers:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-07
                        description: The query exceeds the limitation of number of store numbers or product numbers.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/corporate/promotion/banners/{banner}':
    get:
      tags:
        - Corporate Pricing
      summary: Find promotional retail prices in stores.
      description: 'Returns current and future promotional retail prices by product numbers, store number, or event ID with the CTR (Retail, Party City, Online stores), SC, ATM, or MKS banners.'
      operationId: getProductPromoPricesRetailUsingGET
      parameters:
        - name: banner
          in: path
          description: 'Code representing the Canadian Tire Retail (CTR), Sport Chek (SC), Mark''s (MKS), and Atmosphere (ATM) brands.'
          required: true
          schema:
            enum:
              - CTR
              - SC
              - ATM
              - MKS
            type: string
          example: 'CTR, SC, ATM, MKS'
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: productNumbers
          in: query
          description: '[Required parameter] Comma-delimited list of product identifiers (maximum 100) that are unique within a banner.'
          schema:
            type: array
            items:
              type: string
        - name: eventId
          in: query
          description: 'Format - uuid. Unique identifier of a ''promoRetail'' change event. If not specified, then the ''productNumbers'' parameter is required.'
          schema:
            type: string
            format: uuid
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductPromoPricesRetailPricesView'
              example:
                - deals:
                    - dealStartDate: '2021-12-23T00:00:00.0000000+00:00'
                      dealEndDate: '2021-12-23T00:00:00.0000000+00:00'
                      dealKindCode: AP
                      dealNumber: string
                      dealYear: string
                      prices:
                        - basePromoPrice: 0
                          baseRegularPrice: 0
                          coreCharge: 0
                          ecoFeeAmount: 0
                          priceEffectiveDate: '2021-12-23T00:00:00.0000000+00:00'
                          storeListCode: string
                          stores:
                            - siteLocations:
                                - locationType: ST
                                  businessId: string
                                  originalLocationId: string
                                  component: false
                                  disclosure: false
                              storeDealStartDate: '2021-12-23T00:00:00.0000000+00:00'
                              storeDealEndDate: '2021-12-23T00:00:00.0000000+00:00'
                          totalPromoPrice: 0
                          totalRegularPrice: 0
                          zone: string
                  productNumber: string
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Required query parameters are either invalid and/or missing:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-05
                        description: 'Required query parameters are either invalid and/or missing, for example: product number, event ID.'
                The query exceeds the limitation of number of store numbers or product numbers:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-07
                        description: The query exceeds the limitation of number of store numbers or product numbers.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/dealer/regular/banners/{banner}':
    get:
      tags:
        - Dealer Pricing
      summary: Find regular dealer prices in stores.
      description: 'Returns current and future regular dealer prices by product numbers and store numbers for Canadian Tire, Party City, and Online stores with the CTR banner.'
      operationId: getProductsRegularPricesDealerByStoresUsingGET
      parameters:
        - name: banner
          in: path
          description: Code representing a Canadian Tire brand.
          required: true
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: productNumbers
          in: query
          description: '[Required parameter] Comma-delimited list of product identifiers (maximum 100) that are unique within a banner.'
          schema:
            type: array
            items:
              type: string
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductRegularPricesDealerPricesView'
              example:
                - prices:
                    - baseRegularPrice: 0
                      coreCharge: 0
                      priceEffectiveDate: '2021-03-12'
                      priceEndDate: '2021-03-12'
                      totalRegularPrice: 0
                  productNumber: string
                  siteLocations:
                    - locationType: ST
                      businessId: string
                      originalLocationId: string
                      component: false
                      disclosure: false
                  zone: string
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Required query parameters are either invalid and/or missing:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-05
                        description: 'Required query parameters are either invalid and/or missing, for example: product number, event ID.'
                The query exceeds the limitation of number of store numbers or product numbers:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-07
                        description: The query exceeds the limitation of number of store numbers or product numbers.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  '/v3/corporate/regular/banners/{banner}':
    get:
      tags:
        - Corporate Pricing
      summary: Find regular retail prices in stores.
      description: 'Returns current and future regular retail prices by product numbers and store numbers for Canadian Tire, Party City, and Online stores with the CTR, SC, MKS or ATM banner.'
      operationId: getProductsRegularPricesRetailByStoresUsingGET
      parameters:
        - name: banner
          in: path
          description: 'Code representing the Canadian Tire Retail (CTR), Sport Chek (SC), Mark''s (MKS), and Atmosphere (ATM) brands.'
          required: true
          schema:
            enum:
              - CTR
              - SC
              - ATM
              - MKS
            type: string
          example: 'CTR, SC, ATM, MKS'
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: productNumbers
          in: query
          description: '[Required parameter] Comma-delimited list of product identifiers (maximum 100) that are unique within a banner.'
          schema:
            type: array
            items:
              type: string
        - name: fields
          in: query
          description: 'Use this parameter to add the following optional fields to the response: banner, priceEndDate, baseRegularPrice, coreCharge, and Fees.'
          schema:
            type: array
            items:
              type: string
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductRegularPricesInStoresRetailPricesView'
              example:
                - prices:
                    - baseRegularPrice: 0
                      coreCharge: 0
                      ecoFeeAmount: 0
                      priceEffectiveDate: '2021-03-12'
                      priceEndDate: '2021-03-12'
                      totalRegularPrice: 0
                      pricePriorityCode: 0
                  productNumber: string
                  siteLocations:
                    - locationType: ST
                      businessId: string
                      originalLocationId: string
                      component: false
                      disclosure: false
                  zone: string
        '400':
          description: Bad Request
          headers:
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Client Request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Required query parameters are either invalid and/or missing:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-05
                        description: 'Required query parameters are either invalid and/or missing, for example: product number, event ID.'
                The query exceeds the limitation of number of store numbers or product numbers:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-07
                        description: The query exceeds the limitation of number of store numbers or product numbers.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Not found:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-404
                        description: Not found.
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                ACCEPT type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  /v3/promo-offer:
    get:
      tags:
        - Promotional Offers
      summary: 'Get promotional offers for specific banner, date, store numbers, and product numbers.'
      description: 'Returns promotional offers for specific banner, date, store numbers, and product numbers.'
      operationId: getPromoOffers
      parameters:
        - name: banner
          in: query
          description: '[Required parameter] Code representing the Canadian Tire Retail (CTR), Sport Chek (SC), and Atmosphere (ATM) banners.'
          schema:
            enum:
              - CTR
              - SC
              - ATM
            type: string
          example: 'CTR, SC, ATM'
        - name: originalLocationIds
          in: query
          description: 'Comma-delimited list of store numbers (maximum 5), for extracting prices at stores.'
          schema:
            type: array
            items:
              type: string
        - name: productNumbers
          in: query
          description: '[Required parameter] Comma-delimited list of product identifiers (maximum 20) that are unique within a banner.'
          schema:
            type: array
            items:
              type: string
        - name: asOfDateTime
          in: query
          description: '[Required parameter] Date and time when prices are effective, in ISO-8601 format.'
          schema:
            $ref: '#/components/schemas/LocalDateTimePattern'
        - name: domains
          in: query
          description: 'One or more of the following domains: inCartOffers (promo offer prices); loyaltyOffers (loyalty offers information); saveStories (save stories information). If not specified, then all domains are included. The inCartOffers domain is not supported for the CTR brand. If specified, the corresponding section in the response will be empty. The loyaltyOffers and saveStories domains are not supported for the SC or ATM brands. If specified, the corresponding section in the response will be empty.'
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - inCartOffers
                - loyaltyOffers
                - saveStories
              type: string
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoOffers'
              example:
                inCartOffers:
                  - stores:
                      - siteLocations:
                          - locationType: ST
                            businessId: string
                            originalLocationId: string
                            component: false
                            disclosure: false
                        storeDealStartDate: '2021-12-23T00:00:00.0000000+00:00'
                        storeDealEndDate: '2021-12-23T00:00:00.0000000+00:00'
                    externalPmmId: 0
                    externalMaestroId: 0
                    name: string
                    description: string
                    priorityType: string
                    prioritySubType: string
                    totalRetailPrice: 0
                    discountDollar: 0
                    discountPercent: 0
                    startDate: '2021-12-23T00:00:00.0000000+00:00'
                    endDate: '2021-12-23T00:00:00.0000000+00:00'
                    buyItems:
                      - rewardDerivationRuleNumber: 0
                        quantity: 0
                        purchaseType: string
                        productNumbers:
                          - string
                    getItems:
                      - rewardDerivationRuleNumber: 0
                        quantity: 0
                        purchaseType: string
                        productNumbers:
                          - string
                loyaltyOffers:
                  - productNumber: string
                    stores:
                      - siteLocations:
                          - locationType: ST
                            businessId: string
                            originalLocationId: string
                            component: false
                            disclosure: false
                        storeLoyaltyOfferStartDate: '2021-12-23T00:00:00.0000000+00:00'
                        storeLoyaltyOfferEndDate: '2021-12-23T00:00:00.0000000+00:00'
                    loyaltyOfferDescription: string
                    loyaltyOfferType: string
                    loyaltyOfferRule: string
                    loyaltyOfferQuantity: 1
                    loyaltyOfferStartDate: '2021-12-23T00:00:00.0000000+00:00'
                    loyaltyOfferEndDate: '2021-12-23T00:00:00.0000000+00:00'
                saveStories:
                  - productNumber: string
                    siteLocations:
                      - locationType: ST
                        businessId: string
                        originalLocationId: string
                        component: false
                        disclosure: false
                    saveTactic: string
                    savePercentAmount: 10
                    saveDollarAmount: 25.25
                    saveStoryEnglish: string
                    saveStoryFrench: string
        '400':
          description: Bad Request
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid client request ID:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-01
                        description: Missing or invalid client request id.
                Invalid URL Request:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-02
                        description: Invalid URL Request.
                Required query parameters are missing:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-05
                        description: 'Required query parameters are either invalid and/or missing, for example: product number, event ID.'
                Query exceeds the maximum limitation of store or product numbers:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-07
                        description: The query exceeds the limitation of number of store numbers or product numbers.
                Not supported parameters:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-400-04
                        description: 'The next query parameters from your request are not supported: %list of unsupported parameters%'
        '405':
          description: Invalid HTTP Method
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid HTTP Method:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-405-01
                        description: Invalid HTTP method.
        '406':
          description: Not Acceptable
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Invalid accept type:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-406-01
                        description: Missing or not supported ACCEPT type.
        '500':
          description: Internal Server Error
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
                Internal connectivity issue:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-01
                        description: Internal connectivity issue. Please contact the Pricing API operations team.
                Internal uncaught exception:
                  value:
                    errors:
                      - source: pricing-api
                        source-trace-id: 605355e707d36112691ddcb808f81f02
                        reason-code: PRC-500-02
                        description: Internal uncaught exception. Please contact the Pricing API operations team.
  /v3/loyalty-offer:
    get:
      tags:
        - Loyalty Offers
      summary: Get loyalty offers for specific banner and event ID.
      description: Returns loyalty offers for specific banner and event ID.
      operationId: getLoyaltyOffers
      parameters:
        - name: banner
          in: query
          description: '[Required parameter] Code representing a Canadian Tire brand.'
          schema:
            enum:
              - CTR
            type: string
          example: CTR
        - name: eventId
          in: query
          description: 'Format - uuid. [Required parameter] Unique identifier of a ''loyaltyOffers'' change event.'
          schema:
            type: string
            format: uuid
        - name: client-request-id
          in: header
          description: '[Required parameter] Unique ID generated by client to identify request.'
          schema:
            type: string
          example: clientId1234
      responses:
        '200':
          description: OK
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyOffers'
              example:
                loyaltyOffers:
                  - productNumber: string
                    stores:
                      - siteLocations:
                          - locationType: ST
                            businessId: string
                            originalLocationId: string
                            component: false
                            disclosure: false
                        storeLoyaltyOfferStartDate: '2021-12-23T00:00:00.0000000+00:00'
                        storeLoyaltyOfferEndDate: '2021-12-23T00:00:00.0000000+00:00'
                    loyaltyOfferDescription: string
                    loyaltyOfferType: string
                    loyaltyOfferRule: string
                    loyaltyOfferQuantity: 1
                    loyaltyOfferStartDate: '2021-12-23T00:00:00.0000000+00:00'
                    loyaltyOfferEndDate: '2021-12-23T00:00:00.0000000+00:00'
        '400':
          description: Bad Request
          headers:
            client-request-id:
              description: Unique ID generated by the client to identify the request.
              schema:
                type: string
            source-trace-id:
              description: Unique 32-character ID of request randomly generated by server to associate the logs with the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
              examples:
[...]
